{% extends '@Frontend/base.html.twig' %}

{% block popup %}
    <div class="pointsPopup-outer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center selectPoints" data-points="2">2 Punkte</div>
                <div class="col-md-12 text-center selectPoints" data-points="3">3 Punkte</div>
                <div class="col-md-12 text-center selectPoints" data-points="4">4 Punkte</div>
                <div class="col-md-12 text-center selectPoints" data-points="5">5 Punkte</div>
                <div class="col-md-12 marginTop20">
                    <form>
                        <div class="form-group">
                            <input class="form-control input-lg inputMorePoints" type="text" placeholder="Punkte">                              
                        </div>
                        <div class="text-center">
                            <a class="btn btn-default btnMorePoints">Punkte eintragen</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script src="/js/points.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        {% for team in game.teams %}
            <div class="col-xs-6 text-center">
                {{team.users[0].username}} und {{team.users[1].username}}
            </div>
        {% endfor %}
    </div>
    <div class="row marginTop20">
        <div class="col-xs-6 text-center">
            <a id="btnAddGroup1" class="btn btn-primary btnAddPoints" data-group="1" data-teamid="{{team1id}}">Punkte eintragen</a>
        </div>
        <div class="col-xs-6 text-center">
            <a id="btnAddGroup2" class="btn btn-primary btnAddPoints" data-group="2" data-teamid="{{team2id}}">Punkte eintragen</a>
        </div>
    </div>
    <div class="row marginTop20">
        <div class="col-xs-6 text-center sumPoints">
            Punkte: <span class="group1Points">0</span>
        </div>
        <div class="col-xs-6 text-center sumPoints">
            Punkte: <span class="group2Points">0</span>
        </div>
    </div>
    <div class="row">
        <div id="group1PointWrapper" class="col-xs-6">
            {% for point in points %}
                {% if point.team.id==team1id %}
                    {% include '@Frontend/play/pointEntry.html.twig' with {'point':point} %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="group2PointWrapper" class="col-xs-6">
            {% for point in points %}
                {% if point.team.id==team2id %}
                    {% include '@Frontend/play/pointEntry.html.twig' with {'points':point} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span id="gameData" data-gameid="{{game.id}}" data-maxpoints="{{game.winningPoints}}">SpielID {{game.id}}</span>
        </div>
    </div>
    <div class="hidden">
        <span class="teamids" data-team1id="{{team1id}}" data-team2id="{{team2id}}"></span>
        <span class="addPointsUrl" data-url="{{path('frontend_play_game_add_points',{'gameid':app.request.get('gameid')})}}"></span>
        <span class="removePointsUrl" data-url="{{path('frontend_play_game_remove_points',{'gameid':app.request.get('gameid')})}}"></span>
    </div>
{% endblock %}