{% extends '@Frontend/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Gewinner</th>
                        <th>Erstellt am</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{game.id}}</td>
                            <td>{{game.teams[0].name}}</td>
                            <td>{{game.teams[1].name}}</td>
                            <td>
                                {% if game.gameState.id==2 %}
                                    <i class="fa fa-trophy" aria-hidden="true"></i> {{game.gameWinner.name}}
                                {% endif %}
                            </td>
                            <td>{{game.createdAt|date('d.m.Y H:i')}}</td>
                            <td>{{game.gameState.text|default('')}}</td>
                            <td>
                                {% if game.gameState.id==2 %}
                                    <a href="{{path('frontend_game_result',{'gameid':game.id})}}">
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a href="{{path('frontend_play_game',{'gameid':game.id})}}">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

